services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: docpond
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: valkey/valkey:latest
    ports:
      - "6379:6379"

  s3:
    image: minio/minio:latest
    command: server /data --console-address "0.0.0.0:9002"
    volumes:
      - ./s3-data:/data
    environment:
      - MINIO_ROOT_USER=user
      - MINIO_ROOT_PASSWORD=password
    ports:
      - "9000:9000"
      - "9002:9002"

volumes:
  postgres_data:
